/* CSS Stylesheet - Detail view */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #E5E5E5;
}

div {
  position: relative;
  margin: 0;
}

.header-block {
  background-color: #E5E5E5;
  margin-top: -10px;
  height: 70px;
  text-align: center;
}

h1 {
  font-size: 12pt;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
  color: #3C3C3C;
  padding: 15px;
}

.list {
  overflow: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

.list-item {
  width: 80%;
  max-width: 500px;
  height: 40px;
  margin: 20px auto 25px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  background-color: #3C3C3C;
}

.circle {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 2px;
}

.button-image {
  position: absolute;
  top: 50%;
  left: 50%;
}

.edit-form-image {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
}

.button-text {
  display: inline-block;
  font-size: 12pt;
  font-weight: normal;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
}

.go-arrow {
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 2px;
}

.go-arrow-image {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
}

.stats-list-item {
  display: block;
  overflow: auto;
  font-size: 12pt;
  color: black;
  padding: 30px;
  background-color: #E0E0E0;
  border-bottom: 1px solid #B7B7B7;
}

.stats-section-title {
  float: left;
  display: inline-block;
  font-weight: bold;
  margin-top: -10px;
  margin-left: -10px;
}

.field-name {
  float: left;
  display: inline-block;
  font-weight: normal;
  text-align: left;
  max-width: 220px;
  margin-top: -10px;
  margin-left: 10px;
}

.field-value {
  float: right;
  display: inline-block;
  font-weight: bold;
  margin-top: -10px;
  margin-right: 10px;
}
